.hero {
    background-image: url(https://d3hr4eej8cfgwy.cloudfront.net/v2/750x420/finan-prd/dba472b8-1dc6-4327-bf64-3d268543390a/image/613f6b6b-9977-4bb1-a9c6-1f76848499d1.jpg);
    padding-top: 55%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
