@use 'scss/index.scss' as *;
.confirm {
    &__checkout {
        width: 100%;
        padding: 0 15px;
        border-bottom: 14px solid #f6f9fc;
        & > h4 {
            color: var(--text-color);
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 15px;
            & > span {
                color: var(--danger-color);
            }
        }
        &--list {
            @include flex(space-between);
            padding: 12px;
            margin: 12px 0;
            border: 1px solid var(--border-color);
            border-radius: 12px;
            position: relative;

            &::after {
                width: 1px;
                height: 70%;
                background-color: var(--border-color);
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &--item {
            @include flex();
            flex: 1;
            position: relative;
            &.active {
                .confirm__checkout--btn {
                    border: 3px solid var(--primary-color);
                    & > div {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: var(--primary-color);
                        -webkit-transition: all 0.1s linear;
                        transition: all 0.1s linear;
                    }
                }
            }
        }
        &--img {
            @include flex();
            flex-direction: column;
            & > span {
                font-weight: 500;
                font-size: 1.3rem;
                letter-spacing: 0.4px;
                color: var(--text-lighter-color);
                text-align: center;
                margin-top: 7px;
            }
        }
        &--btn {
            position: absolute;
            top: 0;
            right: 10px;
            width: 25px;
            height: 25px;
            border: 3px solid var(--text-lightest-color);
            border-radius: 50%;
            @include flex();
            transition: all 0.1s linear;
        }
    }
}
