.footer {
    text-align: center;
    height: 60px;
    line-height: 15px;
    color: #9f9f9f;
    display: flex;
    flex-direction: column;
    & > a > img {
        width: 100px;
        height: 24px;
    }
    & > span {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #9f9f9f;
    }
}
