@use 'scss/index.scss' as *;
.confirm {
    width: 100%;
    background-color: #fff;
    padding-bottom: 60px;
    &__popup--location {
        font-weight: 400;
        padding: 16px;
        font-size: 1.3rem;
        color: var(--text-color);
        flex: 1;
        line-height: 20px;
        border-bottom: 1px solid var(--border-color);
        & > span {
            flex: 1;
            color: var(--text-lighter-color);
        }
    }
    &__checkout--user {
        padding: 16px;
        & > h4 {
            color: var(--text-color);
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 15px;
        }
        & > p {
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 17px;
            color: var(--text-lighter-color);
            margin-bottom: 15px;
        }
    }
    &__popup {
        &--btn {
            width: 100%;
            text-align: center;
            padding: 20px 16px 24px;
            border: 1px solid var(--border-color);
            box-shadow: 0 -2px 4px rgb(46 46 46 / 4%);
            z-index: 1000;
            background: var(--background-light-color);
        }
        &--text {
            width: 100%;
            border: none;
            padding: 14px 36px;
            font-weight: 600;
            font-size: 1.7rem;
            background: var(--disabled-color);
            color: var(--on-disabled-color);
            border-radius: $border-radius;
        }
    }
}

.popup {
    &__confirm {
        padding: 0 15px;
    }
}
