@use 'scss/index.scss' as *;
.detail {
    &__buy {
        width: 480px;
        height: 80px;
        @include flex();
        position: fixed;
        bottom: 0;
        background-color: var(--background-light-color);
        box-shadow: 0 -2px 4px rgb(46 46 46 / 4%);
        &--btn {
            padding: 10px 40px;
            font-weight: 500;
            height: 40px;
            text-align: center;
            border: none;
            filter: drop-shadow(0 8px 16px rgba(0, 171, 85, 0.08));
            background: var(--primary-color);
            color: var(--on-primary-color);
            border-radius: $border-radius;
            @include flex();
            font-size: 1.4rem;
            cursor: pointer;
        }
    }
}